.form-overlay-div {
  z-index: 10;
  opacity: 1;
  /* transform: translateY(-3rem); */
  transition: 0.5s ease;
}

.light-input-border,
.light-input-border:focus {
  border-bottom: 1px solid var(--color-slate-800) !important;
}

.dark-input-border,
.dark-input-border:focus {
  border-bottom: 1px solid var(--color-white) !important;
}

